<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
          <header>



              <!--  #####################  MENU ############################ -->
              {{ render(controller('ProjetBaseBundle:Default:menu',{'site' : site})) }}
              <!--  #####################  END MENU ######################## -->
          </header>

           {% block content %}{% endblock %}



    </body>
</html>
