<p>Chapeau.</p>
<a href="{{ path("projet_base", {"site": "eft" }) }}">EFT</a>
<a href="{{ path("projet_base", {"site": "ceramique" }) }}">Ceramique</a>
<a href="{{ path("projet_base", {"site": "alphabetisation" }) }}">Alphabetisation</a>
