{% extends '::base.html.twig' %}


{% block content %}



    {% for produit in produits %}
        {% if produit.statusvend == null %}
            <a href="{{ path('projet_realisation_detail',{'site':site,'rubrique':rubrique,'prodid':produit.id}) }}">{{ produit.titrefr }}</a>

            <p>Prix: {{ produit.prix }}€</p>




        {% endif %}
    {% endfor %}
{% endblock %}
